@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

@import "tailwindcss";

.my-masonry-grid {
    display: flex;
    margin-left: -30px;
    /* gutter size offset */
    width: auto;
}

/* Masonry grid columns */
.my-masonry-grid_column {
    padding-left: 30px;
    /* gutter size */
    background-clip: padding-box;
}

.francois-one-regular {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
